<h1 class="mt-4 flex justify-center text-center text-xl font-bold">Lista de
  productos</h1>
<h2 class="flex justify-center text-center text-lg font-semibold mb-4">Actualizar
  pagina para ver cambios</h2>
{{#if products.length}}
<ul id="productList">
  {{! Renderizo los productos almacenados inicialmente en la base de datos }}
  {{#each products}}
  <li data-id="{{this._id}}" class="flex justify-center">
    <div class="border text-card-foreground w-full max-w-sm bg-[#f4f0f7] rounded-lg shadow-lg mb-4">
      <div class="p-6">
        <div class="flex items-center justify-between mb-4">
          <h2 class="text-2xl font-bold text-[#6c5b7b]">{{this.title}}</h2>
          <span class="text-lg font-semibold text-[#9a7d9a]">$
            {{this.price}}</span>
        </div>
        <p class="text-[#8d7b99] mb-4">
          {{this.description}}
        </p>
        <div class="flex items-center justify-between text-sm text-[#9a7d9a] mb-4">
          <span>Product Code: {{this.code}} </span>
          <span>Stock: {{this.stock}}</span>
        </div>
        <div class="flex items-center justify-between text-sm text-[#9a7d9a]">
          <span>Category: {{this.category}}</span>
          <button
            class="inline-flex items-center justify-center whitespace-nowrap text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 border border-input bg-background hover:bg-accent hover:text-accent-foreground h-10 px-4 py-2 rounded-full">
            Add to Cart
          </button>
        </div>
      </div>
    </div>
  </li>
  {{/each}}
</ul>

<p class="flex justify-center m-4">Pagina: {{page}}</p>

<!-- Paginación -->
<div class="flex justify-evenly mt-4 mx-auto max-w-xs" >
  {{#if hasPrevPage}}
  <a class="p-4 w-32 bg-[#d4c7db]  flex justify-center rounded-md" href="?page={{prevPage}}&limit={{limit}}" class="btn">Previous</a>
  {{/if}}

  {{#if hasNextPage}}
  <a class="p-4 w-32 bg-[#d4c7db]  flex justify-center rounded-md " href="?page={{nextPage}}&limit={{limit}}" class="btn">Next</a>
  {{/if}}
</div>

<!-- Botones para cada página -->
<div class="p-2 flex justify-evenly my-4 mx-auto max-w-lg " >
  {{#each pages}}
  <a class=" w-32 bg-[#d4c7db] flex justify-center rounded-md "  href="?page={{this}}&limit={{../limit}}" class="btn">{{this}}</a>
  {{/each}}
</div>

{{else}}
<h2 class="flex justify-center text-center text-lg font-semibold text-red-600">La base
  datos no contiene productos</h2>
{{/if}}